body {
  color: #bfc1c8;
  font-family: "Roboto", "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  background: #1e202b;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.site-header {
  padding: 50px 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}






a {
  text-decoration: none;
  color: #009ad8;
  background: transparent;
}

.site-header .branding .logo {
  margin-right: 10px;
}

.site-header .branding .logo,
.site-header .branding .logo-type {
  display: inline-block;
  vertical-align: middle;
}

img {
  border: 0;
}

.site-header .branding .site-title {
  margin-bottom: 5px;
  font-size: 16px;
  font-size: 1.1428571429em;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 0 20px;
  line-height: normal;
}



.menu-toggle {
  border: none;
  color: white;

}

.menu-toggle:hover {
  background: none;
  border: 1px transparent;
  padding: 20px;
  border-radius: 40px;
  overflow: hidden;
}



.menu-toggle:hover,
.menu-toggle:active {
  border-color: #009ad8;
  color: #009ad8;
  transition: 0.3s ease;
}




button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

button,
select {
  text-transform: none;
}

button,
input {
  line-height: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}



ul,
ol {
  margin: 0;
  padding-left: 0;
}


.menu-item:hover a {
  border-color: #009ad8;
  color: #009ad8 !important;
}

.menu-item .active {
  border-color: #009ad8;
  color: #009ad8 !important;
}

.menu-item a {
  padding: 5px 25px;
  border: 2px solid transparent;
  border-radius: 30px;
  color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-weight: 400;
}


.hero {
  background-image: url(./../images/banner.png);
  background-size: cover;
  padding: 70px 0;
  min-height: 350px;
}

.find-location {
  position: relative;
  margin-bottom: 70px;
}

.find-location input[type="text"] {
  width: 100%;
  padding: 20px 50px 20px 20px;
  background: #1e202b;
  color: white;
}

form input,
form textarea,
form select {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 30px;
}

button,
input {
  line-height: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

.find-location input[type="submit"],
.find-location input[type="button"] {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 40px;
}

.button,
form input[type="submit"],
form input[type="button"],
form button,
form input[type="reset"] {
  border: none;
  background: #009ad8;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

.bg-main-color {
  background-color: #2D303D;
}


.bg-sec-color {
  background-color: #323544;
}

.special-color1 {
  background-color: #222530;
}

.special-color2 {
  background-color: #262936;
}

.forecast-container {
  background: #323544;
  overflow: hidden;
  margin-top: -150px;
  margin-bottom: 50px;
}

.text-light-blue {
  color: #009ad8;
  margin: 20px 0;
}

.site-footer {
  background: #262936;
  padding: 50px 0;
}

.row {
  box-sizing: border-box;
  margin-left: -15px;
  margin-right: -15px;
}

.site-footer .subscribe-form {
  position: relative;
  margin-bottom: 30px;
}

.site-footer .subscribe-form input[type="submit"] {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

.site-footer .social-links a {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background: #1e202b;
  color: #009ad8;
  text-align: center;
  line-height: 2;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 20px;
  font-size: 1.4285714286em;
}

.site-footer .subscribe-form input[type="text"] {
  padding: 20px 100px 20px 20px;
  background: #1e202b;
  width: 100%;
  color: white;
}

.site-footer .social-links a:hover {
  background: #009ad8;
  color: white;
}




@media (max-width: 992px) {
  .navbar-collapse {
    background: #262936;
    list-style: none;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;

  }

  .menu-item  {
    padding: 20px;
    display: block;
    color: white;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .menu-item.contact {
    border-bottom:none;
  }

}

